.places {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: flex-start;
 flex-wrap: wrap;
 column-gap: 17px;
 row-gap: 20px;
}

@media screen and (max-width: 621px) {
    .places {
        padding-left: 19px;
        padding-right: 19px;
    }
}