.popup__container {
    width: 100%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    row-gap: 8px;
}

@media screen and (max-width: 621px) {
    .popup__container {
        width: 100%;
        max-width: 282px;
        row-gap: 16px;
     }
}