.header {
    padding-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 41px;
    border-bottom: 1px solid;
    border-color: rgba(84, 84, 84, .7);
}

@media screen and (max-width: 768px) {
    .header {
        padding-top: 28px;
        padding-bottom: 32px;
    }
}
