.profile__add-button {
    height: 50px;
    width: 20%;
    max-width: 150px;
    min-width: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    flex-grow: 1;
    background-image: url(../../../images/profile__add-button.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: .5s;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: .5s;
}

@media screen and (max-width: 654px) {
    .profile__add-button {
        transition: 0s;
        width: 100%;
        max-width: 282px;
    }
}