.profile__info {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(auto, 800px) auto;
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 18px;
}

@media screen and (max-width: 768px) {
    .profile__info {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 26px;
        padding-bottom: 32px;
        row-gap: 8px;
        column-gap: 10px;
    }
}
